<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Roger Moore</title>
    <style>
    </style>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      socket.emit('start-admin');
      socket.on('crea-records', (records)=>{
        console.log('crea-records', records);
        document.getElementById('container').innerHTML='';
        for(let record of records){
          const base64Record = record.data;
          document.getElementById('container').innerHTML+=record.startTime+' <audio controls src="data:audio/wav;base64,'+base64Record+'"></audio><br/>';
        }
      });

function startCrea() {
  socket.emit('start-crea');
}

function begin() {
  socket.emit('begin');
}
    </script>
  </head>

  <body>
    <button class="button" onClick='begin()'>begin escape game</button>
    <button class="button" onClick='startCrea()'>start crea</button>
    <div class="container" id="container">
    </div>
  </body>
</html>


