<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Roger Moore</title>
  <style>
    .container {
      display:flex;
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: center;
      margin-top: 200px;
    }
    h1 { 
      color:black;
      font-size: 80px;
      width: 800px;
      margin-top: 100px;
      text-align: center;
    }
    body {
      overflow: hidden;
    }
  </style>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    socket.emit('crea-connected');
    socket.on('words', function(words){
      if(words[0]==='oui micro') {
        document.getElementById("image").style.display = "default";
        document.getElementById("image").src="images/consigne_crea.jpg";
        return;
      }
      document.getElementById("image").style.display = "none"
      for(var i=1; i<words.length; i++){
        document.getElementById(i.toString()).innerHTML=words[i];
      }
    });
</script>
</head>

<body>
  <img style="width: 1920; height: 1080;" id='image' />
  <div class="container" id="container">
    <h1 style="color:black" id="1"></h1>
    <h1 style="color:black" id="2"></h1>
    <h1 style="width: 1800px;">?</h1>
    <h1 style="color:black; width: 1800px;" id="3"></h1>
    </div>
  </body>
</html>
