<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Roger Moore</title>
  <style>
    .container {
      display:flex;
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: center;
      margin-top: 200px;
    }
    h1 { 
      color:black;
      font-size: 80px;
      width: 800px;
      margin-top: 100px;
      text-align: center;
    }
  </style>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    socket.emit('crea-connected');
    socket.on('words', function(words){
      for(var i=1; i<words.length; i++){
        document.getElementById(i.toString()).innerHTML=words[i];
      }
    });
</script>
</head>

<body>
  <div class="container">
    <h1 style="color:black" id="1"></h1>
    <h1 style="color:black" id="2"></h1>
    <h1 style="width: 1800px;">?</h1>
    <h1 style="color:black; width: 1800px;" id="3"></h1>
    </div>
  </body>
</html>
