<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script src="react/react.development.js"></script>
    <script src="react/react-dom.development.js"></script>
    <script src="react/babel.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script> var socket = io(); </script>
    <script src="react.js" type="text/babel"></script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel"> </script>
  </body>
</html>
