<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script src="react/react.development.js"></script>
    <script src="react/react-dom.development.js"></script>
    <script src="react/babel.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="custom/navbar.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script> var socket = io(); </script>
    <script src="react.js" type="text/babel"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-collapse" id="navbar-connections"> </div>
    </nav>

    <div id="main"></div>
    <script type="text/babel"> </script>
  </body>
</html>
