<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Escape Game - Roger Moore</title>
  <style>
    .container-wrap {
      display:flex;
      flex-wrap: wrap;
      justify-content: space-around;
      position: absolute;
      top: 400px;
      left: 20px;
    }
    .reactor {
      width: 272px;
      height: 87px;
      margin: 0 96px;
    }
    .selected {
      border: 2px solid green;
      border-radius: 5px;
    }
    .identification {
      height: 480px;
      width: 80px;
    }
  </style>
    <script src="react/react.development.js"></script>
    <script src="react/react-dom.development.js"></script>
    <script src="react/babel.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="moment/moment-with-locales.js"></script>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="custom/navbar.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script> var socket = io(); </script>
    <script src="wason.js" type="text/babel"></script>
  </head>
  <body>
    <div id="main" class="container-fluid"></div>
  </body>
</html>
